Repository input-output-hk/high-assurance-legacy, pull requests merged in 2019-11, with the labels that each got.

#169 Formally prove the actual forwarding–broadcasting equivalence theorem
  Isabelle/Chi_Calculus_Examples/Network_Equivalences-Forwarding_Broadcasting.thy
  Isabelle/Chi_Calculus_Examples/Network_Equivalences-Relaying_Broadcasting.thy
  Isabelle/Chi_Calculus_Examples/Network_Equivalences.thy
  Isabelle/Chi_Calculus_Examples/ROOT
  Isabelle/Chi_Calculus_Examples/Relaying_Broadcasting_Equivalence.thy
Labels: language: isabelle, topic: examples, type: enhancement

#191 Switch to Isabelle2019
  Isabelle/README.md
Labels: language: isabelle, type: improvement

#192 Switch to using cartouches for mixfix annotations
  Isabelle/Chi_Calculus/Basic_Transition_System.thy
  Isabelle/Chi_Calculus/Basic_Weak_Transition_System.thy
  Isabelle/Chi_Calculus/Communication.thy
  Isabelle/Chi_Calculus/Core_Bisimilarities.thy
  Isabelle/Chi_Calculus/Processes.thy
  Isabelle/Chi_Calculus/Proper_Transition_System.thy
  Isabelle/Chi_Calculus/Proper_Weak_Transition_System.thy
  Isabelle/Chi_Calculus/Typed_Basic_Transition_System.thy
  Isabelle/Chi_Calculus/Typed_Processes.thy
  Isabelle/Chi_Calculus/Typed_Proper_Transition_System.thy
  Isabelle/Transition_Systems/Simulation_Systems.thy
  Isabelle/Transition_Systems/Transition_Systems.thy
  Isabelle/Transition_Systems/Weak_Transition_Systems.thy
Labels: language: isabelle, topic: process calculus, type: improvement
