Repository input-output-hk/high-assurance-legacy, pull requests merged in 2019-07, with the labels that each got.

#80 Correct the comment about `old_bisimilarity_standard`
  Isabelle/Chi_Calculus/Basic_Transition_System.thy
Labels: language: isabelle, topic: ♮-calculus, type: bug

#81 Add a skeleton of lemma `sidetrack_addition`
  Isabelle/Chi_Calculus/Relaying.thy
Labels: language: isabelle, topic: ♮-calculus, type: enhancement

#85 Generalize the `shortcut_addition` lemma
  Isabelle/Chi_Calculus/Relaying.thy
Labels: language: isabelle, topic: ♮-calculus, type: enhancement

#83 Add simplifier support for equivalence reasoning
  Isabelle/Utilities/Equivalences.thy
  Isabelle/Utilities/ROOT
Labels: language: isabelle, topic: utilities, type: enhancement

#87 Separate the loss servers from the bridges in `distributor_split`
  Isabelle/Chi_Calculus/Relaying.thy
  Isabelle/Chi_Calculus_Examples/Diamond.thy
Labels: language: isabelle, topic: ♮-calculus, type: improvement

#89 Make the simplifier support for equivalence reasoning treat compatibility rules correctly
  Isabelle/Utilities/Equivalences.thy
Labels: language: isabelle, topic: utilities, type: bug

#91 Set up the equivalence simplifier to work with the bisimilarity relations
  Isabelle/Chi_Calculus/Basic_Transition_System.thy
  Isabelle/Chi_Calculus/Basic_Weak_Transition_System.thy
  Isabelle/Chi_Calculus/Communication.thy
  Isabelle/Chi_Calculus/Processes.thy
  Isabelle/Chi_Calculus/Proper_Transition_System.thy
  Isabelle/Chi_Calculus/Proper_Weak_Transition_System.thy
  Isabelle/Transition_Systems/Transition_Systems.thy
Labels: language: isabelle, topic: ♮-calculus, type: enhancement

#90 Make `bisimilarity` a defined entity
  Isabelle/Chi_Calculus/Basic_Transition_System.thy
  Isabelle/Chi_Calculus/Proper_Transition_System.thy
  Isabelle/Chi_Calculus_Examples/Diamond.thy
  Isabelle/Transition_Systems/Simulation_Systems.thy
  Isabelle/Transition_Systems/Transition_Systems.thy
Labels: language: isabelle, topic: ♮-calculus, type: improvement

#93 Introduce locale that covers ♮-calculus transition systems
  Isabelle/Chi_Calculus/Basic_Transition_System.thy
  Isabelle/Chi_Calculus/Basic_Weak_Transition_System.thy
  Isabelle/Chi_Calculus/Communication.thy
  Isabelle/Chi_Calculus/Natural_Transition_Systems.thy
  Isabelle/Chi_Calculus/Processes.thy
  Isabelle/Chi_Calculus/Proper_Transition_System.thy
  Isabelle/Chi_Calculus/Proper_Weak_Transition_System.thy
  Isabelle/Chi_Calculus/ROOT
Labels: language: isabelle, topic: ♮-calculus, type: enhancement

#95 Make `equivalence_simp` work flawlessly with process functions
  Isabelle/Utilities/Equivalences.thy
Labels: language: isabelle, topic: ♮-calculus, type: bug

#96 Add support for automatic conversion of equivalences into laxer equivalences
  Isabelle/Chi_Calculus/Basic_Transition_System.thy
  Isabelle/Chi_Calculus/Basic_Weak_Transition_System.thy
  Isabelle/Chi_Calculus/Communication.thy
  Isabelle/Chi_Calculus/Proper_Transition_System.thy
  Isabelle/Chi_Calculus/Proper_Weak_Transition_System.thy
  Isabelle/Utilities/Equivalences.thy
Labels: language: isabelle, topic: utilities, topic: ♮-calculus, type: enhancement

#100 Move core bisimilarities out of `equivalence`
  Isabelle/Chi_Calculus/Basic_Transition_System.thy
Labels: language: isabelle, topic: ♮-calculus, type: improvement

#102 Correct FIXME about `multi_receive` liftings
  Isabelle/Chi_Calculus/Communication.thy
Labels: language: isabelle, topic: ♮-calculus, type: improvement

#103 Remove new-channel scope extension from `natural_simps`
  Isabelle/Chi_Calculus/Basic_Transition_System.thy
Labels: language: isabelle, topic: ♮-calculus, type: bug

#104 Make removal of `multi_receive` duplicates a core simplification
  Isabelle/Chi_Calculus/Communication.thy
  Isabelle/Chi_Calculus/Relaying.thy
  Isabelle/Chi_Calculus_Examples/Diamond.thy
Labels: language: isabelle, topic: ♮-calculus, type: enhancement

#106 Make `by equivalence` fail more quickly
  Isabelle/Utilities/Equivalences.thy
Labels: language: isabelle, topic: utilities, type: improvement

#108 Make scope redundancy removal a core simplification
  Isabelle/Chi_Calculus/Proper_Transition_System.thy
Labels: language: isabelle, topic: ♮-calculus, type: enhancement

#110 Base the `∏`-notation on a dedicated function
  Isabelle/Chi_Calculus/Basic_Transition_System.thy
  Isabelle/Chi_Calculus/Basic_Weak_Transition_System.thy
  Isabelle/Chi_Calculus/Natural_Transition_Systems.thy
  Isabelle/Chi_Calculus/Processes.thy
  Isabelle/Chi_Calculus/Proper_Transition_System.thy
  Isabelle/Chi_Calculus/Proper_Weak_Transition_System.thy
Labels: language: isabelle, topic: ♮-calculus, type: bug

#112 Remove outdated comment about `∏`-preservation
  Isabelle/Chi_Calculus/Natural_Transition_Systems.thy
Labels: language: isabelle, topic: ♮-calculus, type: bug

#114 Move `proper_receive_scope_extension` out of `equivalence`
  Isabelle/Chi_Calculus/Proper_Transition_System.thy
Labels: language: isabelle, topic: ♮-calculus, type: bug

#116 Move core bisimilarities into dedicated theory
  Isabelle/Chi_Calculus/Basic_Transition_System.thy
  Isabelle/Chi_Calculus/Basic_Weak_Transition_System.thy
  Isabelle/Chi_Calculus/Communication.thy
  Isabelle/Chi_Calculus/Core_Bisimilarities.thy
  Isabelle/Chi_Calculus/Proper_Transition_System.thy
  Isabelle/Chi_Calculus/Proper_Weak_Transition_System.thy
  Isabelle/Chi_Calculus/ROOT
Labels: language: isabelle, topic: ♮-calculus, type: improvement

#118 Add a proof method for controlled application of parallel scope extension
  Isabelle/Chi_Calculus/Core_Bisimilarities.thy
  Isabelle/Utilities/Equivalences.thy
Labels: language: isabelle, topic: ♮-calculus, type: enhancement

#121 Add `cut` to every match pattern
  Isabelle/Chi_Calculus/Basic_Transition_System.thy
  Isabelle/Chi_Calculus/Core_Bisimilarities.thy
  Isabelle/Transition_Systems/Simulation_Systems.thy
  Isabelle/Utilities/Equivalences.thy
Labels: language: isabelle, topic: utilities, topic: ♮-calculus, type: improvement

#122 Add support for user-level tagged new-channel processes
  Isabelle/Chi_Calculus/Core_Bisimilarities.thy
Labels: language: isabelle, topic: ♮-calculus, type: enhancement

#124 Change `unit` to `neutrality`
  Isabelle/Chi_Calculus/Core_Bisimilarities.thy
Labels: language: isabelle, topic: ♮-calculus, type: improvement

#126 Improve session and theory names related to relation proof methods
  Isabelle/Chi_Calculus/Basic_Transition_System.thy
  Isabelle/ROOTS
  Isabelle/Relation_Methods/Equivalence.thy
  Isabelle/Relation_Methods/Monotonicity.thy
  Isabelle/Relation_Methods/ROOT
  Isabelle/Relation_Methods/document/root.tex
  Isabelle/Transition_Systems/ROOT
  Isabelle/Transition_Systems/Weak_Transition_Systems.thy
Labels: language: isabelle, topic: utilities, type: improvement

#128 Remove laxer variants of core bisimilarities
  Isabelle/Chi_Calculus/Communication.thy
  Isabelle/Chi_Calculus/Core_Bisimilarities.thy
  Isabelle/Chi_Calculus/Relaying.thy
Labels: language: isabelle, topic: ♮-calculus, type: improvement
