Repository input-output-hk/high-assurance-legacy, pull requests merged in 2019-06, with the labels that each got.

#56 Add support for multiple parallel composition
  Isabelle/Chi_Calculus/Processes.thy
Labels: language: isabelle, topic: χ-calculus, type: enhancement

#57 Add skeleton of distributor support
  Isabelle/Chi_Calculus/Relaying.thy
Labels: language: isabelle, topic: χ-calculus, type: enhancement

#59 Fix typo in name of `bidirectional_bridge_commutativity` lemma
  Isabelle/Chi_Calculus/Relaying.thy
Labels: language: isabelle, topic: χ-calculus, type: bug

#61 Move `Utilities` out of `Transition_Systems`
  Isabelle/ROOTS
  Isabelle/Transition_Systems/ROOT
  Isabelle/Transition_Systems/Weak_Transition_Systems.thy
  Isabelle/Utilities/Monotonicity.thy
  Isabelle/Utilities/ROOT
  Isabelle/Utilities/document/root.tex
Labels: language: isabelle, topic: utilities, topic: ♮-calculus, type: improvement

#62 Formally prove the actual relaying–broadcasting equivalence theorem
  Isabelle/Chi_Calculus_Examples/Diamond.thy
Labels: language: isabelle, topic: examples, type: enhancement
