Repository input-output-hk/high-assurance-legacy, pull requests merged in 2019-08, with the labels that each got.

#133 Turn abbreviation-based `weak`–`mixed` equalities into their η-expansions
  Isabelle/Transition_Systems/Weak_Transition_Systems.thy
Labels: language: isabelle, topic: ♮-calculus, type: improvement

#131 Base the definitions of bridges, loss servers, and duplication servers on distributors
  Isabelle/Chi_Calculus/Communication.thy
  Isabelle/Chi_Calculus/ROOT
  Isabelle/Chi_Calculus/Relaying.thy
  Isabelle/Chi_Calculus_Examples/Diamond.thy
Labels: language: isabelle, topic: ♮-calculus, type: improvement

#138 Go back to the previous definitions of bridges and unreliability servers
  Isabelle/Chi_Calculus/Communication.thy
  Isabelle/Chi_Calculus/ROOT
  Isabelle/Chi_Calculus/Relaying.thy
  Isabelle/Chi_Calculus_Examples/Diamond.thy
Labels: language: isabelle, topic: ♮-calculus, type: improvement

#136 Swap sides of `context_localization`
  Isabelle/Chi_Calculus/Communication.thy
  Isabelle/Chi_Calculus_Examples/Diamond.thy
Labels: language: isabelle, topic: ♮-calculus, type: improvement

#140 Turn `addition` lemmas into `redundancy` lemmas
  Isabelle/Chi_Calculus/Relaying.thy
  Isabelle/Chi_Calculus_Examples/Diamond.thy
Labels: language: isabelle, topic: ♮-calculus, type: improvement

#145 Turn abbreviations for derived process operations into definitions
  Isabelle/Chi_Calculus/Communication.thy
  Isabelle/Chi_Calculus/Relaying.thy
  Isabelle/Chi_Calculus_Examples/Diamond.thy
Labels: language: isabelle, topic: ♮-calculus, type: improvement

#146 Move the contents of `Relaying` into `Communication`
  Isabelle/Chi_Calculus/Communication.thy
  Isabelle/Chi_Calculus/ROOT
  Isabelle/Chi_Calculus/Relaying.thy
  Isabelle/Chi_Calculus_Examples/Diamond.thy
Labels: language: isabelle, topic: ♮-calculus, type: improvement

#148 Remove superfluous entries from the root `.gitignore`
  .gitignore
Labels: type: improvement

#150 Add `Exploration/.gitignore` covering LaTeX intermediate files
  Exploration/.gitignore
Labels: type: improvement

#152 Set up derived communication constructs for use with `equivalence`
  Isabelle/Chi_Calculus/Communication.thy
Labels: language: isabelle, topic: ♮-calculus, type: bug

#154 Base the definitions of bridges and unreliability servers on distributors
  Isabelle/Chi_Calculus/Communication.thy
  Isabelle/Chi_Calculus_Examples/Diamond.thy
Labels: language: isabelle, topic: ♮-calculus, type: improvement

#155 Add idempotency laws for derived communication constructs
  Isabelle/Chi_Calculus/Communication.thy
Labels: language: isabelle, topic: ♮-calculus, type: enhancement

#157 Make `equivalence` work without rewrite rules
  Isabelle/Relation_Methods/Equivalence.thy
Labels: language: isabelle, topic: utilities, type: bug

#158 Overhaul the communication-related code
  Isabelle/Chi_Calculus/Communication.thy
  Isabelle/Chi_Calculus/Processes.thy
  Isabelle/Chi_Calculus_Examples/Diamond.thy
Labels: language: isabelle, topic: ♮-calculus, type: improvement

#160 Add skeletons of `multi_receive` compatibility lemmas
  Isabelle/Chi_Calculus/Communication.thy
Labels: language: isabelle, topic: ♮-calculus, type: enhancement

#162 Add inner forward/backward bridge redundancy lemmas
  Isabelle/Chi_Calculus/Communication.thy
Labels: language: isabelle, topic: ♮-calculus, type: enhancement

#164 Remove inner forward/backward bridge redundancy lemmas
  Isabelle/Chi_Calculus/Communication.thy
Labels: language: isabelle, topic: ♮-calculus, type: improvement

#167 Add space after `ν` in syntax definitions
  Isabelle/Chi_Calculus/Core_Bisimilarities.thy
  Isabelle/Chi_Calculus/Processes.thy
  Isabelle/Chi_Calculus/Proper_Transition_System.thy
Labels: language: isabelle, topic: ♮-calculus, type: improvement
