Repository input-output-hk/high-assurance-legacy, pull requests merged in 2022-01, with the labels that each got.

#235 Add `Thorn_Calculus-Communication`
  Isabelle/Thorn_Calculus/ROOT
  Isabelle/Thorn_Calculus/Thorn_Calculus-Communication.thy
  Isabelle/Thorn_Calculus/Thorn_Calculus-Processes.thy
Labels: type: enhancement, language: isabelle, topic: process calculus

#237 Switch to Isabelle2021-1
  Isabelle/Chi_Calculus/Basic_Transition_System.thy
  Isabelle/Chi_Calculus/Core_Bisimilarities.thy
  Isabelle/Chi_Calculus/Typed_Basic_Transition_System.thy
  Isabelle/Thorn_Calculus/Thorn_Calculus-Core_Bisimilarities.thy
  Isabelle/Thorn_Calculus/Thorn_Calculus-Experiments.thy
  Isabelle/Thorn_Calculus/Thorn_Calculus-Semantics-Synchronous.thy
  Isabelle/Transition_Systems-New/Transition_Systems-Simulation_Systems.thy
Labels: type: improvement

#239 Make various small changes
  Isabelle/Relation_Methods/ROOT
  Isabelle/Thorn_Calculus/ROOT
  Isabelle/Thorn_Calculus/Thorn_Calculus-Core_Bisimilarities.thy
  Isabelle/Thorn_Calculus/Thorn_Calculus-Processes.thy
  Isabelle/Thorn_Calculus/Thorn_Calculus-Semantics-Synchronous.thy
  Isabelle/Transition_Systems-New/ROOT
Labels: type: improvement

#178 Formally prove the actual forwarding–broadcasting with filtering equivalence theorem
  Isabelle/Chi_Calculus/Basic_Transition_System.thy
  Isabelle/Chi_Calculus/Basic_Weak_Transition_System.thy
  Isabelle/Chi_Calculus/Natural_Transition_Systems.thy
  Isabelle/Chi_Calculus/Proper_Transition_System.thy
  Isabelle/Chi_Calculus/Proper_Weak_Transition_System.thy
  Isabelle/Chi_Calculus_Examples/Communication.thy
  Isabelle/Chi_Calculus_Examples/Filtering_On_Receipt_Forwarding_Broadcasting_Equivalence.thy
  Isabelle/Chi_Calculus_Examples/ROOT
Labels: type: enhancement, language: isabelle, topic: examples

#188 Introduce proof of the chain selection property
  Isabelle/Ouroboros_Examples/Chain_Selection_Property.thy
  Isabelle/Ouroboros_Examples/ROOT
  Isabelle/Ouroboros_Examples/document/root.tex
  Isabelle/ROOTS
Labels: type: enhancement, language: isabelle, topic: examples

#194 Implement the Ouroboros BFT protocol
  Isabelle/Ouroboros/Ouroboros_BFT_Implementation.thy
  Isabelle/Ouroboros/ROOT
  Isabelle/Ouroboros/document/root.tex
  Isabelle/ROOTS
Labels: type: enhancement, language: isabelle, topic: ouroboros

#196 Formally prove the forwarding–broadcasting network equivalence for Ouroboros BFT
  Isabelle/Ouroboros/Ouroboros_BFT_Forwarding_Broadcasting_Equivalence.thy
  Isabelle/Ouroboros/Ouroboros_BFT_Implementation.thy
  Isabelle/Ouroboros/ROOT
Labels: type: enhancement, language: isabelle, topic: ouroboros

#198 Implement the Ouroboros Praos protocol
  Isabelle/Ouroboros/Finite_Map_Extras.thy
  Isabelle/Ouroboros/Ouroboros_Praos_Implementation.thy
  Isabelle/Ouroboros/ROOT
  Isabelle/Ouroboros/document/root.tex
Labels: type: enhancement, language: isabelle, topic: ouroboros

#200 Formally prove the forwarding–broadcasting network equivalence for Ouroboros Praos
  Isabelle/Ouroboros/Ouroboros_Praos_Forwarding_Broadcasting_Equivalence.thy
  Isabelle/Ouroboros/Ouroboros_Praos_Implementation.thy
  Isabelle/Ouroboros/ROOT
Labels: type: enhancement, language: isabelle, topic: ouroboros

#241 Perform sanity checking on the Ouroboros Praos implementation
  Isabelle/Chi_Calculus/Proper_Transition_System.thy
  Isabelle/Chi_Calculus/Typed_Proper_Transition_System.thy
  Isabelle/Ouroboros/Ouroboros_Praos_Implementation.thy
  Isabelle/Thorn_Calculus/Thorn_Calculus-Semantics-Asynchronous.thy
Labels: type: enhancement, language: isabelle, topic: ouroboros

#243 Remove spurious dependency on `HOL-Library`
  Isabelle/Transition_Systems-New/ROOT
Labels: language: isabelle, type: improvement

#247 Restore `Thorn_Calculus-Semantics-Asynchronous`
  Isabelle/Thorn_Calculus/Thorn_Calculus-Semantics-Asynchronous.thy
Labels: type: bug, language: isabelle, topic: process calculus
